:root {
    --primary-clr: #AB5CF6;
    --p-clr: #a09e9e;
    --bg-clr1: #ECF0FD;
    --bg-clr2: #FAF5FF;
    --bg-clr2-dark: #f0e2fd;
    --bg-clr3: #FCF1F7; 
    --bg-clr4: #EBFCF4;
    --bg-clr5: #F1E6FF;
    --bg-clr6: #FFFBEB;
    --lightbtn-clr: #AB5CF6;
    --btntxt-clr: white; 
    --clr1: #2e2afc;
}
* {
    margin: 0;padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body {
    font-family: monospace;
}
.fff-btn {
    padding: 10px 25px;
    text-transform: capitalize;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--p-clr);
    cursor: pointer;
}
.light-btn {
    padding: 10px 25px;
    text-transform: capitalize;
    background-color: var(--bg-clr2-dark);
    border-radius: 20px;
    border: 1px solid var(--primary-clr);
    border-color: transparent;
    color: var(--primary-clr);
    cursor: pointer;
}
.light-btn:hover, .fff-btn:hover {
    background-color: var(--primary-clr);
    color: white;
    border-color: var(--primary-clr);
    transition: .5s ease-in-out;
}
.ppl-btn {
    padding: 10px 25px;
    text-transform: capitalize;
    background-color: var(--primary-clr);
    color: var(--btntxt-clr);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.ppl-btn:hover {
    background-color: var(--bg-clr2-dark);
    color: var(--primary-clr);
    transition: .5s ease-in-out;
}
.dark-btn {
    text-transform: capitalize;
    padding: 8px 20px;
    height: max-content;
    background-color: black;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.dark-btn:hover {
    background-color: var(--bg-clr5);
    color: black;
    transition: .5s ease-in-out;
}
input:focus {
    outline: none;
}
.navbar {
    margin: 20px;
}
.navbar nav {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.navbar nav .logo {
    width: 3%;
    margin: 0 20px;
}
.navbar nav .logo img {
    width: 100%;
    border-radius: 100%;
}
.navbar nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.navbar nav ul li {
    margin-left: 40px;
    font-size: 14px;
}
.navbar nav ul li:hover {
    cursor: pointer;
    color: var(--primary-clr);
    transition: .2s ease-in-out;
}

section {
    padding: 5%;
    text-transform: capitalize;
}
.first-section {
    display: flex;
    justify-content: space-between;
}
.first-section .left {
    width: 60%;
}
.first-section .left .txt {
    width: 95%;
}
.first-section .left .txt h1 {
    font-size: 90px;
    line-height: 100px;
    margin: 30px 0;
}
.first-section .left .txt p {
    width: 24%;
    line-height: 25px;
    font-size: 15px;
    color: var(--p-clr);
    position: absolute;
    left: 23%;  
    bottom: 31%;
}
.first-section .left .search {
    margin-top: 50px;
}
.first-section .left .search input {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
}
.first-section .left .comment {
    width: 30%;
    margin: 60px 0;
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: 0px 0px 20px rgb(172, 172, 172);
    border-radius: 20px;
}
.first-section .left .comment h5 {
    font-size: 16px;
}
.first-section .left .comment h5 span {
    color: var(--primary-clr);
}
.first-section .left .other-txt h5 {
    font-size: 14px;
}
.first-section .left .other-txt div {
    gap: 30px;
    display: flex;
    margin: 20px 0;
}
.first-section .left .other-txt i {
    color: var(--p-clr);
    font-size: 30px;
    /* margin-left: 15px; */
}

.right {
    width: 35%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right div {
    margin: 0;
}
.right .subdiv img {
    width: 70%;
}
.right .subdiv:first-child {
    width: 100%;
    text-align: center;
    width: 100%;
    height: 63vh;
    overflow: hidden;
    border-radius: 65px 65px 45% 0px;
    background: linear-gradient(#fff, var(--bg-clr5));
}
.right .subdiv:nth-child(2), .right div:nth-child(3) {
    width: 49%;
    height: 35vh;
    margin-top: 4%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 12%; */
}
.right .subdiv:nth-child(2) {
    background-color: var(--bg-clr1);
    border-radius: 0% 46% 0% 46%;
}
.right .subdiv:nth-child(3) {
    background-color: var(--bg-clr3);
    border-radius: 46% 46% 45% 0px;
}
.right .subdiv i {
    font-size: 35px;
    margin: 10px 0;
    color: var(--clr1);
}
.right .subdiv:nth-child(3) i {
    color: var(--primary-clr);
}
.right .subdiv h5 {
    font-size: 15px;
}
.right .subdiv h3 {
    font-size: 20px;
}
.right .subdiv h3 span {
    color: var(--clr1);
}
.right .comment {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(121, 119, 119);
    border-radius: 10px;
}
.right .comment:nth-child(4) {
    z-index: 22;
    left: -25%;
    top: 30%;
}
.right .comment:nth-child(5) {
    right: -10%;
    top: -0%;
}
.right .comment .txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.right .comment .txt h4 {
    width: 100%;
}
.right .comment .txt p {
    font-size: 15px;
    position: relative;
}

/* Second Section */
.sec-section {
    background-color: var(--bg-clr5);
}
.sec-section .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text .txt1 {
    width: 30%;
}
.text .txt1 h2 {
    font-size: 50px;
    line-height: 50px;
}
.text .txt1 p {
    color: var(--p-clr);
    font-size: 20px;
    line-height: 45px;
}
.text .txt2 {
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.text .txt2 hr {
    height: 9vh;
    width: 2px;
    margin-top: 3%;
    border: none;
    background-color: grey;
}
.text .txt2 div {
    width: 30%;
}
.text .txt2 h5 {
    font-size: 30px;
    color: var(--primary-clr);
}
.text .txt2 p {
    color: var(--p-clr);
    font-size: 16px;
}

/* Second section */
.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-section .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-section .text header {
    color: var(--p-clr);
    font-size: 20px;
}
.third-section .text h2 {
    font-size: 40px;
    line-height: 40px;
    width: 60%;
    margin: 20px 0;
}
.third-section .text .input {
    width: 100%;
    padding: 8px;
    display: flex;
    border: 1px solid var(--bg-clr5);
    border-radius: 25px;
}
.third-section .text .input hr {
    height: 2vh;
    margin-top: 12px;
    width: 2px;
    border: none;
    background-color: rgb(185, 185, 185);
}
.third-section .text .input input {
    border: none;
    width: 80%;
    padding: 5px;
    font-size: 16px;
}
.third-section .text .input select {
    width: 15%;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    background: none;
    cursor: pointer;
}
.third-section .text h5 {
    font-size: 16px;
    margin: 3% 0;
    color: var(--primary-clr);
}
.third-section .text .buttons button {
    margin-left: 15px;
}
.third-section .div-clc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 5%;
}
.third-section .div-clc .subdiv{
    width: 32%;
    box-shadow: 0 0 1px grey;
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
}
.third-section .div-clc .subdiv .sdiv {
    padding: 15px 10px;
    border-radius: 15px;

}
.third-section .div-clc .subdiv:nth-child(1) .sdiv {
    background-color: var(--bg-clr2);
} 
.third-section .div-clc .subdiv:nth-child(2) .sdiv {
    background-color: var(--bg-clr3);
} 
.third-section .div-clc .subdiv:nth-child(3) .sdiv {
    background-color: var(--bg-clr4);
} 
.third-section .div-clc .subdiv:nth-child(4) .sdiv {
    background-color: var(--bg-clr1);
} 
.third-section .div-clc .subdiv:nth-child(5) .sdiv {
    background-color: var(--bg-clr3);
} 
.third-section .div-clc .subdiv:nth-child(6) .sdiv {
    background-color: var(--bg-clr1);
} 
.third-section .div-clc .subdiv .sdiv .first {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.third-section .div-clc .subdiv .sdiv .first h6 {
    font-size: 14px;
    padding: 5px;
    border-radius: 15px;
    background-color: white;
}
.third-section .div-clc .subdiv .sdiv .first i {
    /* height: 10px;
    width: 10px; */
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    height: max-content;
    background-color: white;
}
.third-section .div-clc .subdiv .sdiv .txt {
    margin: 20px 0;
}
.third-section .div-clc .subdiv .sdiv .txt header {
    font-size: 15px;
    font-weight: 600;
}
.third-section .div-clc .subdiv .sdiv .txt h3 {
    font-size: 33px;
    line-height: 30px;
}
.third-section .div-clc .subdiv .sdiv .other {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
    margin: 30px 0;
}
.third-section .div-clc .subdiv .sdiv .other p {
    padding: 5px 13px;
    border: 1px solid grey;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 8px;
}
.third-section .div-clc .subdiv .txt2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.third-section .div-clc .subdiv .txt2 h5 {
    font-size: 14px;
}
.third-section .div-clc .subdiv .txt2 p {
    font-size: 14px;
    color: var(--p-clr);
}

/* Fourth Section */
.fourth-section .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fourth-section .text .txt1 header {
    color: var(--p-clr);
    font-size: 15px;
    margin: 4% 0;
    font-weight: 500;
}
.fourth-section .text .txt2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3%;
}
.fourth-section .text .txt2 p {
    font-size: 12px;
}
.fourth-section .text .txt2 .search {
    margin: 20px 0;
    width: 100%;
}
.fourth-section .text .txt2 .search input {
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
}
.fourth-section .subdivs {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.fourth-section .subdivs .sdiv {
    background-color: #fff;
    position: relative;
    width: 30%;
    height: 42vh;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    border-radius: 20px;
    box-shadow: 0 0 3px var(--p-clr);
    /* clip-path: polygon(100 100, 30 100, 30 70, 0 700, 0 0, 1000 0); */
}
.fourth-section .subdivs .sdiv .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fourth-section .subdivs .sdiv .logo img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.fourth-section .subdivs .sdiv .logo i {
    margin: 2px;
    padding: 20px;
    font-size: 25px;
    border-radius: 17px;
    background-color: #000;
    color: #fff;
    text-align: center;
    align-items: center;
}
/* .fourth-section .subdivs .sdiv svg {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(100 100, 30 100, 30 70, 0 700, 0 0, 1000 0);
} */
.fourth-section .subdivs .sdiv .txt {
    padding: 20px;
    margin-top: 10px;
}
.fourth-section .subdivs .sdiv .txt header {
    color: var(--p-clr);
    font-weight: bold;

}
.fourth-section .subdivs .sdiv .txt h3 {
    font-size: 25px;
    line-height: 26px;
    margin: 10px 0;
}
.fourth-section .subdivs .sdiv .txt p {
    color: grey;
    font-size: 13px;
}
/* Fifth Section */
.fifth-section {
    display: flex;
    justify-content: space-between;
}
.fifth-section .text {
    width: 40%;
    margin-top: 5%;
}
.fifth-section .text header {
    color: var(--p-clr);
    font-size: 18px;

}
.fifth-section .text h2 {
    font-size: 45px;
    line-height: 46px;
}
.fifth-section .text p {
    color: var(--p-clr);
    margin: 20px 0;
    font-size: 12px;
}
.fifth-section .sub-div {
    display: grid;
    /* grid-template-rows: 90px 90px 90px 90px; */
    grid-template-columns: 50% 50%;
    width: 60%;
}
.fifth-section .sub-div .sdiv {
    margin: 7px;
    padding: 25px;
    border-radius: 15px;
}
.fifth-section .sub-div .sdiv h5 {
    font-size: 20px;
    line-height: 35px;
}
.fifth-section .sub-div .sdiv p {
    font-size: 16px;
}
.fifth-section .sub-div .sdiv button {
    margin-top: 12%;
}
.fifth-section .sub-div .sdiv:nth-child(1) {
    background-color: var(--bg-clr4);
    grid-row: span 2;
    grid-column: 1 / 1;
} 
.fifth-section .sub-div .sdiv:nth-child(2) {
    background-color: rgb(252, 242, 225);
    grid-row: span 2;
    grid-column: 1 / 1 ;
}
.fifth-section .sub-div .sdiv:nth-child(3) {
    background-color: var(--bg-clr1);
    grid-row: 1 / 4;
    grid-column: 2 / 2;
}
.fifth-section .sub-div .sdiv:nth-child(3) h2 {
    font-size: 50px;
    font-weight: 100;
}
.fifth-section .sub-div .sdiv:nth-child(3) hr {
    border-color: #e4e2e2a4;
    margin: 20px 0;
}
.fifth-section .sub-div .sdiv:nth-child(4) {
    background-color: var(--bg-clr4);
}
.fifth-section .sub-div .sdiv:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* Sixth section */
.sixth-section .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixth-section .text header {
    color: var(--p-clr);
    font-size: 18px;

}
.sixth-section .text h2 {
    width: 45%;
    font-size: 45px;
    line-height: 46px;
    margin: 20px 0;
}
.sixth-section .text span {
    margin: 0 5px;
    font-size: 16px;
    padding: 8px 18px;
}
.sixth-section .text span:nth-child(1) {
    background-color: var(--bg-clr6);
    border-radius: 20px;
}
.sixth-section .text span:nth-child(2) {
    background-color: var(--bg-clr4);
    border-radius: 0 20px 20px 20px;
}
.sixth-section .text span:nth-child(3) {
    background-color: var(--bg-clr3);
    border-radius: 20px;
}
.sixth-section .text span:nth-child(4) {
    background-color: var(--bg-clr5);
    border-radius: 20px;
}
.sixth-section .text span:nth-child(5) {
    background-color: var(--primary-clr);
    border-radius: 20px 20px 0px 20px;
    color: #fff;
}
.sixth-section .sub-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0;
}
.sixth-section .sub-div .sdiv {
    box-shadow:  0 0 1px grey;
    width: 30%;
    height: 35vh;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}
.sixth-section .sub-div .sdiv .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    color: var(--primary-clr);
    font-size: 20px;
}
.sixth-section .sub-div .sdiv .icons h1 {
    font-weight: lighter;
}
.sixth-section .sub-div .sdiv .icons i {
    font-size: 30px;
}
.sixth-section .sub-div .sdiv h5 {
    font-size: 20px;
    line-height: 40px;
}
.sixth-section .sub-div .sdiv p {
    font-size: 13px;
    color: var(--p-clr);
}
/* Seventh section */
.seventh-section {
    display: flex;
    justify-content: space-between;
}
.seventh-section .text {
    width: 70%;
    position: relative;
}
.seventh-section .text .hero-txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seventh-section .text .txt header {
    color: var(--p-clr);
    font-size: 18px;
}
.seventh-section .text h2 {
    width: 65%;
    font-size: 45px;
    line-height: 46px;
    margin: 20px 0;
}
.seventh-section .text .hero-txt .navi-btn {
    display: flex;
    gap: 10px;
}
.seventh-section .text .hero-txt .navi-btn button{
    padding: 1px 15px;
    font-size: 18px;
}
.seventh-section .text .subdiv {
    overflow: hidden;
}
.seventh-section .text .subdiv .comment {
    display: none;
    width: 100%;
    background-color: var(--bg-clr2);
    padding: 20px;
    margin-top: 20px;
    padding-top: 50px;
    border-radius: 20px;
}
.seventh-section .text .subdiv .comment:nth-child(1) {
    display: block;
    animation: pop .3s ease-in-out forwards;
}
@keyframes pop {
    from {
        opacity: 0;
        filter: blur(33px);
    }
    to {
        opacity:  1;
        filter: blur(0);
    }
}
.seventh-section .text .subdiv .comment h5 {
    font-size: 25px;
    line-height: 30px;
}
.seventh-section .text .subdiv .comment span {
    color: var(--primary-clr);
    font-weight: bold;
    font-size: 15px;
}
.seventh-section .text .subdiv .comment p {
    margin-top: 20px;
    width: 93%;
    font-weight: bold;
}
.seventh-section .text .dot {
    display: flex;
    gap: 7px;
    position: absolute;
    top: 55%;
    right: 8%;
    z-index: 5;
}
.dot-child{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #c4c4c4;
}
.active {
    height: 10px;
    width: 20px;
    border-radius: 10px;
    background-color: var(--primary-clr);
    animation: width .2s ease-in-out forwards;
}
@keyframes width {
    from {
        width: 0px;
    }
    to {
        width: 20px;
    }
}

/* Eight section */
.eight-section .text {
    position: relative;
    background-color: var(--bg-clr6);
    padding: 10px 30px;
    border-radius: 20px;
}
.eight-section .text header {
    color: var(--p-clr);
    font-size: 16px;
    margin: 15px 0;
}
.eight-section .text h2 {
    font-size: 35px;
    line-height: 35px;
    width: 25%;
}
.eight-section .text .txt {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.eight-section .text .txt p {
    color: var(--p-clr);
    width: 40%;
}
.eight-section .text .txt .input {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    /* margin-right: 25px; */
}
.eight-section .text .txt .input input {
    width: 55%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 1px grey;
}
.eight-section .text .comment {
    position: absolute;
    z-index: 10;
    width: 23%;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(214, 214, 214);
    border-radius: 10px;
}
.eight-section .text .comment:nth-child(5) {
    top: 10%;
    right: -3%;
    transform: rotate(-4deg);
    background-color: var(--bg-clr4);
}
.eight-section .text .comment:nth-child(4) {
    top: -12%;
    right: 23%;
    transform: rotate(4deg);
    background-color: var(--bg-clr4);
}
.eight-section .text .comment h5 {
    font-size: 14px;
}
.eight-section .text .comment .txt {
    display: flex;
    justify-content: space-between;
}
.eight-section .text .comment .txt h4 {
    font-size: 18px;
    width: 50%;
    margin-top: -12px;
    margin-bottom: -15px;
    padding: 0;
    line-height: 18px;
}
/* Footer */
.footer-nav {
    margin: 20px 0;
}
.footer-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.footer-nav nav .logo {
    width: 3%;
}
.footer-nav nav .logo img {
    width: 100%;
    border-radius: 100%;
}
.footer-nav nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.footer-nav nav ul li {
    margin-left: 40px;
    font-size: 12px;
    font-weight: bold;
}
.footer-nav nav ul li:hover {
    cursor: pointer;
    color: var(--primary-clr);
    transition: .2s ease-in-out;
}
.footer-nav nav .icons {
    gap: 20px;
    display: flex;
    color: var(--p-clr);
}
.footer .text {
    color: var(--p-clr);
}
.footer .text p {
    width: 25%;
}
.footer .text hr {
    margin: 20px 0;
}
.footer .text .txt {
    display: flex;
    justify-content: space-between;
}
.footer .text .txt  div {
    display: flex;
    gap: 25px;
}
.footer .text .txt a {
    text-decoration: none;
    color: var(--p-clr);
    font-size: 12px;

}